node_modules/
.next/
.env
.DS_Store
*.log
.vscode/
out/
out.zip
locales/en.backup.*

# i18n backups & work files
locales/en.backup.*
i18n-key-mapping.work.csv
tsconfig.tsbuildinfo
# Transifex pulled files
.env.local
